{%  extends 'core/base.html' %}


{% block content %}
<div class="container mt-5">
  <h1 class="text-warning mb-5 border-bottom">Contact Us </h1>
  <div class="row text-white mb-5">
    <p class="mx-auto mb-5">
      DO you have any Questions? Please do not hesitate to contact. I will come
      back to you within a matter of hours to help you.</p>
      <div class="col-sm-9 mb-5">
        <div class="mb-3">
  <label for="formGroupExampleInput" class="form-label">Name</label>
  <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Enter Your Name">
</div>
<div class="mb-3">
  <label for="formGroupExampleInput2" class="form-label">Email</label>
  <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Enter Your Email">
  <button type="button" class="btn btn-primary mt-5 text-center ">Send</button>



</div>

              </div>

<div class="col-sm-3 text-center">
  <ul class="list-unstyled">
    <li>
    <i class="fas fa-map mt-4 fa-2x i-colo"> </i>
    <p>NewYork, USA</p>
    </li>
    <li>
    <i class="fas fa-phone mt-4 fa-2x i-colo"></i>
    <p> +41 90000000</p>
    <li>
      <i class="fas fa-envelope mt-4 fa-2x i-colo"></i>
      </li>
      </ul>
      </div>
      </div>
      </div>
      <div class="text-center">
        <a href="#" target="_blank"><i class="fab fa-twitter i-colo mr-3"></i></a
          <a href="#" target="_blank"><i class="fab fa-facebook-f i-colo mr-3"></i></a>
          <a href="#" target="_blank"><i class="fab fa-instagram i-colo mr-3"></i></a>
          <a href="#" target="_blank"><i class="fab fa-dribble i-colo mr-3"></i></a>
          </div>



{% endblock content %}
