{% extends 'core/base.html' %}
{% block content %}


<div class="container mt-5">
  <h1 class="text-warning mbmt-5 border-bottom">SKILLS</h1>

<div class="row text-white">
  <div class="col-sm-5">
    <h3 class="mt-5">HTML/CSS</h3>
    <div class="progress">
      <div class="progress-bar bg-danger" role="progressbar" style="width:100%" arial-valuenow="100" arial-valuemin="0" arial-valuemax="100">100%</div>
        </div>
</div>

<div class="col-sm-5 offset-sm-2">
  <h3 class="mt-5">JavaScript</h3>
  <div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
    style="width:95%" arial-valuenow="95" arial-valuemin="0" arial-valuemax="100">95%</div>
      </div>
</div>
  </div>
  <div class="row text-white">
    <div class="col-sm-5">
      <h3 class="mt-5">ReacJs</h3>
      <div class="progress">
        <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" style="width:90%" arial-valuenow="90" arial-valuemin="0" arial-valuemax="100">90%</div>
          </div>
  </div>

  <div class="col-sm-5 offset-sm-2">
    <h3 class="mt-5">Django</h3>
    <div class="progress">
      <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar"
      style="width:90%" arial-valuenow="90" arial-valuemin="0" arial-valuemax="100">90%</div>
        </div>
  </div>

    </div>
    <div class="row text-white">
      <div class="col-sm-5">
        <h3 class="mt-5">Python</h3>
        <div class="progress">
          <div class="progress-bar bg-info" role="progressbar" style="width:85%" arial-valuenow="85" arial-valuemin="0" arial-valuemax="100">85%</div>
            </div>
    </div>

    <div class="col-sm-5 offset-sm-2">
      <h3 class="mt-5">MySql</h3>
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar"
        style="width:80%" arial-valuenow="80" arial-valuemin="0" arial-valuemax="100">80%</div>
          </div>
    </div>
      </div>
  </div>


{% endblock content %}
